body{
    overflow-x: hidden;
}

/* NAVBAR */
.fa-person-rifle{
    color: rgb(240, 39, 39);
}

nav ul li a{
    color: white !important;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: 1s;
}

nav ul li a:hover{
    border: 1px solid white;
    border-radius: 1rem;
}

/* CAROUSEL SECTION */

.carousel-inner{
    margin-top: 40px;
}

.glock{
    transform: scale(0.6) !important;
}


/* about */
#about{
    scroll-margin-top: 115px;
}

/* CAROUSEL SECTION */

.carouselDark{
    background-color: #fff !important;
}

.ak-47{
    transform: scale(0.8);
    margin-top: -10px !important;
}

.shotgun{
    margin-top: 18px;
    margin-bottom: 180px;
    transform: rotate(-10deg) scale(0.8);
}

.glock{
    transform: scale(0.7);
    margin-top: -11px;
    margin-bottom: 50px;
}

.glock-caption{
    margin-bottom: -10px;
}

@media only screen and (max-width: 767px) {
   nav ul li a{
     border: none !important;
   }

   nav ul li:hover{
       background-color: #27292c;
   }

   .shotgun{
       margin-bottom: 50px;
   }
 }
@media only screen and (max-width: 992px) {

    .ak-47{
        margin-bottom: 16px;
    }

    .shotgun{
        margin-bottom: 104px;
    }

    .glock{
        margin-top: -32px !important;
    }
  }

/* CARDS SECTION */
.most-popular{
    background: #000;
}

#offers .row{
    min-height: 95vh;
}